<!DOCTYPE html>
<html> 

<head>
    <title>DreamJobber</title> 
    <link href='css/indexStyles.css' rel="stylesheet" type="text/css"> 

</head>
<header>
    <nav> 
        <ul>
            <li><a href="">survey</a></li>
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contacts</a></li>
        </ul>
    </nav>
</header>
<body>

<h1>The template Tag</h1>

<p>Content inside a template tag is hidden from the client.</p>

<template>
  <h2>Flower</h2>
  <img src="img_white_flower.jpg" width="214" height="204">
</template>

<p>A later example will show you how to use JavaScript to display the template content.</p>


<form id='input1' action ='/answer1' method="POST">
<p>1.) Place question here</p>
<input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
<button>Submit</button>
</form>

<form id='input1' action ='/answer1' method="POST">
    <p>2.) Place question here</p>
    <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
    <button>Submit</button>
    </form>

<form id='input1' action ='/answer1' method="POST">
        <p>3.) Place question here</p>
        <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
        <button>Submit</button>
        </form>

<form id='input1' action ='/answer1' method="POST">
        <p>4.) Place question here</p>
        <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
        <button>Submit</button>
        </form>
<form id='input1' action ='/answer1' method="POST">
            <p>5.) Place question here</p>
            <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
            <button>Submit</button>
            </form>

<form id='input1' action ='/answer1' method="POST">
                <p>6.) Place question here</p>
                <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
                <button>Submit</button>
                </form>
        
<form id='input1' action ='/answer1' method="POST">
                <p>7.) Place question here</p>
                <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
                <button>Submit</button>
                </form>
<form id='input1' action ='/answer1' method="POST">
                    <p>8.) Place question here</p>
                    <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
                    <button>Submit</button>
                    </form>

<form id='input1' action ='/answer1' method="POST">
                        <p>9.) Place question here</p>
                        <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
                        <button>Submit</button>
                        </form>
<form id='input1' action ='/answer1' method="POST">
                            <p>(feed back) How did you like your recommendations?</p>
                            <input type="text" name= 'answer1_answer' placeholder="Answer from 0 - 10">
                            <button>Submit</button>
                            </form>








</body>
</html>